 #select, button, input, select{
       cursor: url( ../../cursor/Vox_Cursor.png ), auto;
      border:2px solid white;
background-color:black;
      color:white;
    }
    
    
     body{
      cursor: url( ../../cursor/Vox_Cursor.png ), auto;
     }
     textarea{
            cursor: url( ../../cursor/Vox_Cursor.png ), auto;
            color:white;
            background-color:  black;
     }

iframe{
      margin-left: auto;
      margin-right: auto;
background-color: white;
      
      display:block; 

       border: 1px solid black;
}

/* Style the tab */
.tab {
float:left;

  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
#html {display:block;}